<div class="row">
  <div class="col-md-4">
    <label class="col-md-4">Filter By Status:</label>
    <div class="col-md-8">
      <select class="form-control" #status (change)="onStatusFilterChange(status.value)">
        <option value="">All</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <button id="addNew" (click)="addNewRecord($event)">ADD NEW</button>
  </div>
  <div class="col-md-12">
    <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </div>
</div>
