<div class="form-group" [ngClass]="themeColor" (keyup)="setComponentFocus($event,true)" (keydown)="setComponentFocus($event,false)">

  <div class="dropdown">
    <div class="input-hold" [attr.data-toggle]="itemsList.length > 0 ? 'dropdown' : '' ">

      <ng-container *ngIf="isSearchEnabled">
        <input class="searchBox" focusDropdown autocomplete="off" type="text" (input)="searchItem = $event.target.value; toggleDropdown($event,searchItem);"
          (focus)="onInputFocus($event)" (blur)="onInputBlur($event)" [value]="selectedDropdownItem.label" [disabled]="itemsList.length===0"
        />

      </ng-container>
      <ng-container *ngIf="!isSearchEnabled">
        <input type="text" class="searchBox" [value]="selectedDropdownItem.label" (blur)="checkIfSelectionIsEmpty($event)" readonly
        />

        <label *ngIf="isYear" class="truncatedLabel">{{selectedDropdownItem.label|dropdowntruncatepipe:2}}</label>
      </ng-container>
      <span (click)="onIconClick($event);" class="fa fa-chevron-down"></span>
    </div>
    <ng-container *ngIf="(itemsList | dropdownpipe: searchItem).length !== 0">
      <div class="dropdown-menu">

        <ul class="no_border">
          <li *ngFor="let item of itemsList | dropdownpipe: searchItem;let i=index" class="normal-filter-item" tabindex="{{i}}" (keydown)="onKeyDown($event,item)"
            (mousedown)="onDropdownItemSelection(item,$event)">
            {{item.label}}
          </li>
        </ul>
      </div>
    </ng-container>

  </div>


</div>
