//theme colors
$dark-sky: #79a4cf;
$white: #ffffff;
$sky-blue: #edf5ff;
$font-lightblue: #79a4cf;
$drop-focus-color: $sky-blue;

custom-dropdown{
  width:100%;
  float: left;
}
.form-control {
  padding: 6px 15px;
}

.form-group {
  margin-bottom: 0;

  .dropdown {
    clear: both;

    .input-hold {
      input[type="text"] {
        cursor: pointer;
        width: 100%;
        padding: 2px;
        background: none;
        font-size: 20px;
        height: 25px;

        &:focus {
          outline: none;
        }

        &.searchBox {
          @media(max-width: 991px) {
            text-align: center !important;
          }
        }

        &.active {
          border-left: 1px solid $white !important;
        }
      }

      .fa-chevron-down,
      .fa-search {
        position: absolute;
        top: 25%;
        right: 5px;
        line-height: 1;
      }
    }

    ul.dropdown-menu {
      margin: -8px;
      padding: 0;
      z-index: 10000;
      box-shadow: outset 0 -16px 15px -16px rgba(0, 0, 0, 0.5);

      .normal-filter-item {
        cursor: pointer;
        height: 55px;
        font-size: 16px;
        padding: 14px 7px;

        &:focus {
          background-color: #dcdcdc !important;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.scroll-width {
  width: auto;
}


.sky-blue {
  .dropdown {
    .input-hold {
      input[type="text"] {
        //font-family: 'latoregular';
        color: inherit;
        font-size: 17px;
        font-weight: lighter;
      }

      .fa-chevron-down,
      .fa-search {
        color: $font-lightblue;
      }
    }

    .dropdown-menu {
      background-color: $sky-blue;
      overflow-y: hidden;
      max-height: 167px !important;
      height: auto !important;

      .normal-filter-item {
        &:focus {
          background-color: $drop-focus-color;
          color: $font-lightblue;
        }

        &:hover {
          color: $sky-blue;
          background-color: $font-lightblue;
        }
      }
    }
  }
}

.truncatedLabel {
  display: none !important;
  font-size: 20px;
  text-align: center;
  @media (max-width: 991px) and (min-width: 768px) {
    display: block !important;
  }
}

.dropdown-menu {
  left: -9px !important;
  // min-width: 361px !important;
  width:100%;
}

.no_border {
  border: none !important;
}